/*
!/.gitignore
!/src/
!/tests/
!/.env.example
!/README.md
!/README_AI.md
!/requirements.txt
!/run.py
!/run_sim.sh
!/ARCHITECT.md
!/LICENSE
!/data_pipeline/

__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS Artifacts
.DS_Store
**/.DS_Store
